<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/favicon-32x32.png">
    <!-- style.css -->
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body class="body-success">
    <main class="main-success">
        <section class="thanks-container">
            <article class="info-container-success">
                <div>
                    <img src="../assets/images/icon-success.svg" alt="success icon">
                </div>
                <h1>Thanks for subscribing!</h1>
                <p>A confirmation email has been sent to <strong>ash@loremcompany.com.</strong>  
                    Please open it and click the button inside to confirm your subscription.</p>
            </article>
            
                <aside class="btn-container">
                    <button class="btn-sucess">Dismiss message</button>
                </aside>
        </section>

        
    </main>
    
</body>
</html>